body {
    color:black;
    background:pink;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}


header { 
border-bottom: solid 2px rgb(red, green, blue);
padding: 20px;
font-size: 32px;
color: rgb(red, green, blue);
}

section {
    background: rgb(243, 63, 201);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
 h1{
    font: size 40px;

 }

 p {
    font-size: 20px;
 }